body					{ font-family: sans-serif; background: #eee; }
a, h1, h2				{ color: #377ba8; }
h1, h2					{ font-family: 'Georgia', serif; margin: 0; }
h1						{ border-bottom: 2px solid #eee; }
h2						{ font-size: 1.2em; }
p.ex 					{
							border:1px solid red;
							margin-top: 100px;
							margin-bottom: 100px;
							margin-right: 150px;
							margin-left: 80px;
						}
#polit_logo				{ position: relative; }
#bbmt_logo				{ position: relative; }
#text_on_page			{ position: relative; /*margin-right: 1;*/ overflow: hidden; margin: 0 auto; margin-top: -1; }
#text_contact_page		{ position: relative; /*margin-right: 1;*/ overflow: hidden; margin: 0 auto; margin-top: -1; }
#polit_logo img			{ position: absolute; top: 0px; left: 0px; }
#bbmt_logo img			{ position: fixed; bottom: 0px; right: 0px; }
#text_on_page img		{ position: fixed; width:627px; margin:0 auto; margin-top: 30px; margin-left: 25%;/*vertical-align: middle;*/ /*float: right;*/ display: block; /*margin: auto; */}
#text_contact_page img 	{ position: fixed; /*width:778px;*/ margin:0 auto; margin-top: 90px; margin-left: 25%;  display: block; /*margin: auto; */}
#bg 					{ position: fixed; top: 0; bottom: 2; left: 0; }
.bgwidth 				{ width: 100%; }
.bgheight 				{ height: 100%; }

.page					{ margin: .1em auto; width: 35em; /*border: 5px solid #ccc;*/
                  			padding: 4.8em; /*background: white;*/ }
.entries				{ list-style: none; margin: 0; padding: 0; }
.entries li 			{ margin: 0.8em 1.2em; }
.entries li h2 			{ margin-left: -1em; }
.add-entry				{ font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl 			{ font-weight: bold; }
.metanav				{ text-align: right; font-size: 0.8em; padding: 0.3em;
                  			margin-bottom: 1em; background: #fafafa; }
.flash					{ background: #cee5F5; padding: 0.5em;
                  			border: 1px solid #aacbe2; }
.error					{ background: #f0d6d6; padding: 0.5em; }